//- index.pug
doctype html
html
  head
    title COURIER
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
            li #[a(href="/login") Login]
            li #[a(href="/reg") Register]
            li #[a(href="/") Home]
            //- li #[a(href="/book") BookOrder]
            //-  li #[a(href="/update") Update Order Information]
            //-  li #[a(href="/del") Delete Order Information]
            //-  li #[a(href="/disp") Disp Order Information]
            //- li #[a(href="/") Contact Us]
    
    section#introSection
        div EduStaff<br>
        div.small Train your staff Easily

    section#missionSection
        h2 Our Services
        div.card
            h5 
            div.card-box
                div.card-img
                    img(src="/static/img/staff_training.png")
                div.card-content
                    p <b><center> </center></b>
        div.card
            h3 
            div.card-box
                div.card-img
                    img(src="/static/img/training.jpg")
                div.card-content
                    p <b></b>
        div.card
            h3 
            div.card-box
                div.card-img
                    img(src="/static/img/train.jpg")
                div.card-content
                    p <b></b>

    //- section#sponsorsSection
    //-     h2 Our Sponsors
    
    footer#footer
        | our footer here
    script
      include ../static/index.js
