<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body bgcolor="LightBlue">

<center><h2>Trending Books</h2></center>

<table>
  <tr>
    <th>BookName</th>
    <th>Author</th>
    <th>Price</th>
    <th>Payment</th>
  </tr>
  <tr>
    <td>Anna Karenina</td>
    <td>Konstantin Levin</td>
    <td>500</td>
    <td><a href="/pay">PayNow</a></td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>200</td>
    <td><a href="/pay">PayNow</a></td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>1000</td>
    <td><a href="/pay">PayNow</a></td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>200</td>
    <td><a href="/pay">PayNow</a></td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>600</td>
    <td><a href="/pay">PayNow</a></td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>1500</td>
    <td><a href="/pay">PayNow</a></td>
  </tr>
</table>

</body>
</html>

